* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

/* Header Section */
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
}

/* Main Section */
main {
  height: calc(100% - (80px + 50px));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#search-section {
  height: 20%;
  width: 80%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#search-section h4 {
  margin-bottom: 5px;
  text-indent: 3px;
}

form {
  display: flex;
  flex-direction: row;
}

#hero-search-field {
  height: 30px;
  width: 90%;
  text-indent: 5px;
  margin-right: 10px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  cursor: pointer;
}

#hero-search-btn {
  background-color: red;
  color: #ffffff;
  padding: 0px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#display-section {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#display-section h1,
#display-section hr {
  margin-bottom: 5px;
}

#display-section h5 {
  color: red;
  font-weight: bold;
}

img {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border: 2px solid #000000;
}

#display-section p {
  padding: 10px 0px;
}

/* Footer Section */
footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000;
}

footer > p {
  text-indent: 20px;
}
